export(pz_123)
export(run_metropolis_MCMC_betas)
export(Neighbours_combined)
export(compute_HMRFHiC_probabilities)
export(gamma_prior_value)
export(get_data)
export(likelihood_combined)
export(likelihood_gamma)
export(posterior_combined)
export(pred_combined)
export(prior_combined)
export(process_data)
export(proposaldensity_combined)
export(proposalfunction)
export(run_chain_betas)
export(size_prior)
import(BSgenome)
importFrom(Biostrings,DNAString)
importFrom(Biostrings,getSeq)
importFrom(Biostrings,letterFrequency)
importFrom(GenomicRanges,GRanges)
importFrom(GenomicRanges,countOverlaps)
importFrom(GenomicRanges,seqnames)
importFrom(IRanges,IRanges)
importFrom(Rcpp,sourceCpp)
importFrom(rtracklayer,import)
importFrom(rtracklayer,import.chain)
importFrom(rtracklayer,liftOver)
importFrom(stats,aggregate)
importFrom(stats,dgamma)
importFrom(stats,dnbinom)
importFrom(stats,dnorm)
importFrom(stats,dpois)
importFrom(stats,rbeta)
importFrom(stats,rgamma)
importFrom(stats,rnorm)
importFrom(strawr,straw)
importFrom(utils,read.table)
useDynLib(HiCPotts, .registration=TRUE)


