exportPattern("^[[:alpha:]]+")

export(Neighbours_combined)
export(compute_HMRFHiC_probabilities)
export(gamma_prior_value)
export(likelihood_combined)
export(likelihood_gamma)
export(posterior_combined)
export(pred_combined)
export(prior_combined)
export(proposaldensity_combined)
export(proposalfunction)
export(pz_123)
export(run_metropolis_MCMC_betas)
export(size_prior)
importFrom(Rcpp,sourceCpp)
importFrom(stats,dgamma)
importFrom(stats,dnbinom)
importFrom(stats,dnorm)
importFrom(stats,dpois)
importFrom(stats,rbeta)
importFrom(stats,rgamma)
importFrom(stats,rnorm)
importFrom(parallel,mclapply)
useDynLib(HMRFHiC)

